@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

body {
  margin: 0;
  font-family: 'Fraunces', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d63031 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myNavbar {
  background-color: #fd79a8;
  padding: 1.2rem 0;
}

.card {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
}
